# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# IDE and Logs
.vscode/ (可选)
.idea/ (可选)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
